.woocommerce{
  aside{
    border-right:1px solid #d7d7d7;
    padding:0 10px;
    .filter--style-premmerce {
      .filter__item {
        border:none;
        border-top:1px solid #d7d7d7;
        padding:15px 15px 15px 0;
        .filter__title{
          color:#7b07ab;

        }
        .filter__properties-item {
          &:hover{
            background: #fde5f5;
            color:#ac0dc7;
            .filter__checkgroup-title{
              color:#ac0dc7
            }
          }
        }
      }

    }
    .filter__checkgroup{
      .filter__checkgroup-link{
        .filter__checkgroup-check{
          &::before{
            background:#27b10b;
          }
        }
      }
      .filter__checkgroup-aside{
        .filter__checkgroup-count{
          top:0;
        }
      }
    }
  }
}