.td-phones-list {
  list-style: none; }
  .td-phones-list li {
    display: inline-block; }
    .td-phones-list li i {
      color: #fff;
      margin-right: 1px; }
      .td-phones-list li i:hover {
        color: #fff; }
  .td-phones-list li + li {
    margin-left: 10px; }

.woocommerce ul.products {
  margin: -10px; }
  .woocommerce ul.products li.product {
    background: none !important;
    margin-right: 1px; }
    .woocommerce ul.products li.product:hover {
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); }
      .woocommerce ul.products li.product:hover .image-wrapper img {
        opacity: 1; }
      .woocommerce ul.products li.product:hover h6 {
        color: #999 !important; }
    .woocommerce ul.products li.product .product-item-container {
      padding: 10px; }
      .woocommerce ul.products li.product .product-item-container footer {
        margin-top: 10px; }
        .woocommerce ul.products li.product .product-item-container footer .add-to-cart-link {
          text-transform: uppercase;
          font-weight: 600;
          display: inline-block;
          float: right; }
          .woocommerce ul.products li.product .product-item-container footer .add-to-cart-link i.fa {
            margin-right: 5px; }
      .woocommerce ul.products li.product .product-item-container .price {
        text-align: left;
        display: inline-block;
        float: left; }
        .woocommerce ul.products li.product .product-item-container .price del {
          color: #c5c5c5; }
        .woocommerce ul.products li.product .product-item-container .price ins {
          color: #313131 !important; }
      .woocommerce ul.products li.product .product-item-container a.product-category {
        background: none; }
      .woocommerce ul.products li.product .product-item-container a h6 {
        text-align: left;
        padding: 0; }
      .woocommerce ul.products li.product .product-item-container .onsale.out-of-stock-button {
        color: #909090;
        font-size: 12px;
        text-transform: none;
        font-style: normal;
        font-weight: 600;
        letter-spacing: 0px;
        background-color: #ececec;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        width: auto;
        height: auto;
        padding-top: 0; }
        .woocommerce ul.products li.product .product-item-container .onsale.out-of-stock-button .out-of-stock-button-inner {
          width: 105px;
          height: 25px;
          display: table-cell;
          vertical-align: middle; }
      .woocommerce ul.products li.product .product-item-container .onsale.onsale-outter {
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        width: auto;
        height: auto;
        padding-top: 0;
        text-wrap: none;
        font-size: 12px;
        text-transform: none;
        font-style: normal;
        font-weight: 600;
        background-color: #27b10b;
        letter-spacing: 0; }
        .woocommerce ul.products li.product .product-item-container .onsale.onsale-outter .onsale-inner {
          display: table-cell;
          line-height: normal;
          padding: 5px 10px; }

.td-call-center-container {
  color: #fff; }
  .td-call-center-container .td-working-hours {
    list-style: none; }
    .td-call-center-container .td-working-hours li {
      color: #fff;
      margin-bottom: 10px; }
      .td-call-center-container .td-working-hours li label {
        margin-right: 10px;
        font-weight: 600; }
      .td-call-center-container .td-working-hours li span {
        background: #27b10b;
        color: #fff;
        padding: 3px 5px; }
  .td-call-center-container .td-contact-info {
    list-style: none; }
    .td-call-center-container .td-contact-info li {
      color: #fff; }
      .td-call-center-container .td-contact-info li i {
        margin-right: 5px;
        color: #999; }
      .td-call-center-container .td-contact-info li a {
        color: #fff; }
  .td-call-center-container.td-maintenance .td-working-hours {
    list-style: none; }
    .td-call-center-container.td-maintenance .td-working-hours li {
      color: #313131;
      margin-bottom: 10px; }
      .td-call-center-container.td-maintenance .td-working-hours li label {
        margin-right: 10px;
        font-weight: 600; }
      .td-call-center-container.td-maintenance .td-working-hours li span {
        background: #313131;
        color: #fff;
        padding: 3px 5px; }
  .td-call-center-container.td-maintenance .td-contact-info {
    list-style: none; }
    .td-call-center-container.td-maintenance .td-contact-info li {
      color: #313131; }
      .td-call-center-container.td-maintenance .td-contact-info li i {
        margin-right: 5px;
        color: #666; }
      .td-call-center-container.td-maintenance .td-contact-info li a {
        color: #313131; }

.image.wp-image-15100 {
  width: 50%; }
.image.wp-image-15119 {
  width: 50%; }
.image.wp-image-18346 {
  width: 50%; }

.td-free-call-line {
  margin-top: 30px; }
  .td-free-call-line .td-free-call-header {
    display: block;
    color: #fff;
    font-size: 30px;
    font-weight: 600; }
  .td-free-call-line .td-free-call-descr {
    font-size: 11px;
    background: #999;
    color: #313131;
    padding: 3px 5px; }
